
#main-actions
	a.reporting href="/scripts"
		i.ion-code
		.title Scripts

.panel
    .panel-header
        h3.with-icon
            i.ion-podium
            | Reports
    table.data
        thead
            tr
                th
                    a == 'Report Name'
                th
                    a == 'Updated At'
                th
                    a == 'Created At'
                th
                th
        tbody
            - @scripts.each do |script|
                tr.script
                    td.col-title
                        | #{script.title}
                    td.col-updated_at
                        | #{script.updated_at.strftime(PRETTY_TIME_FORMAT)}
                    td.col-created_at
                        | #{script.created_at.strftime(PRETTY_TIME_FORMAT)}
                    td
                        a.open-script-report-modal.button.secondary.with-icon data-id="#{script.id}"
                            i.ion-play
							| Run
                    td
                        a.open-script-settings-modal.button.secondary.with-icon data-id="#{script.id}"
                            i.ion-settings
                            | Setttings


coffee:
    showReportExecModal = (scriptId) ->
        constants = null
        script = null
        onDone = _.after 2, ->
            modal = window.scripts.newReportExecModal(
				script
				constants
				{
					hide_settings: false
					field_params: {
						foo: 'bar'
					}
					field_options: {
						print: ['','Yes', 'No']
						org_unit_id: [['One', 'one'], ['Two', 'two'], ['Three', 'three']]
						hidden_id: [] # to hide the field
					}
					field_values: {
					}
				}
            )
        $.get(
            '/scripts/constants.json'
            (res) =>
                if res.status == 'success'
                    constants = res.constants
                    onDone()
                else
                    alert res.message
        )
        $.get(
            "/scripts/#{scriptId}.json"
            (res) =>
                if res.status == 'success'
                    script = res.script
                    script.script_fields = _.toArray script.script_fields
                    onDone()
                else
                    alert res.message
        )

    showSettingsModal = (scriptId) ->
      constants = null
      script = null
      onDone = _.after 2, ->
        modal = window.scripts.newSettingsModal(
                script
                constants
                {}
        )
      $.get(
              '/scripts/constants.json'
        (res) =>
          if res.status == 'success'
            constants = res.constants
            onDone()
          else
            alert res.message
      )
      $.get(
              "/scripts/#{scriptId}.json"
        (res) =>
          if res.status == 'success'
            script = res.script
            script.script_fields = _.toArray script.script_fields
            onDone()
          else
            alert res.message
      )

    $('a.open-script-report-modal').click ->
        showReportExecModal this.dataset.id
    $('a.open-script-settings-modal').click ->
        showSettingsModal this.dataset.id