
$secondary-color: #40555e !default;
$secondary-color-darker: darken($secondary-color, 12%) !default;
$alert-color: #aa0000 !default;
$success-color: #00aa00 !default;
$animation-duration: 0.2s !default;

////////////////////////////////////////////////////////////////////////////////
// Tabs
////////////////////////////////////////////////////////////////////////////////

.lm_dragProxy .lm_content {
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
}

.lm_dropTargetIndicator {
	box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.4);
	outline: 1px dashed #cccccc;
	margin: 1px;
	transition: all 200ms ease;
	.lm_inner {
		background: #000000;
		opacity: .1;
	}
}


.script-workspace {
	.lm_goldenlayout {
		background-color: $secondary-color-darker;
		z-index: 0;
	}
	.lm_content {
		background-color: transparent;
	}

	.lm_splitter {
		background: $secondary-color-darker;
		opacity: 0.8;
		transition: opacity 200ms ease;
		&:hover, &.lm_dragging {
			opacity: 1;
			background: $secondary-color-darker;
		}
	}


	.lm_header {
		height: 24px !important;
		background-color: $secondary-color-darker;
		.lm_tab {
			background-color: $secondary-color;
			color: #fff;
			box-shadow: none !important;
			opacity: 0.5;
			font-size: 13px;
			padding: 3px 12px;
			height: 18px;
			.lm_close_tab {
				padding: 4px;
				display: none;
				&::before {
					font-family: Ionicons;
					content: "\f129";
					font-size: 12px;
				}
			}
			&:hover, &.lm_active {
				opacity: 1;
			}
			&.lm_active {
				padding: 3px 26px 3px 12px;
				.lm_close_tab {
					display: inline-block;
				}
			}
		}
		.lm_controls {
			display: none;
			> li {
				background-image: none;;
				font-size: 15px;
				line-height: 1;
				padding: 4px 2px;
				color: #fff;
				opacity: 0.7;
				&::before {
					font-family: Ionicons;
				}
				&:hover {
					opacity: 1;
				}
			}
			.lm_close::before {
				content: "\f129";
			}
			.lm_maximise {
				display: none;
				::before {
					content: "\f25e";
				}
			}
			.lm_popout::before {
				content: "\f13a";
			}
		}
	}

}


////////////////////////////////////////////////////////////////////////////////
// Workspace
////////////////////////////////////////////////////////////////////////////////

.script-workspace {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #aaa;
	.lm_goldenlayout {
		> .lm_item {
			position: relative;
			z-index: 1;
			background-color: #aaa;
		}
		a.open-script {
			position: absolute;
			z-index: 0;
			font-size: 32px;
			display: block;
			text-align: center;
			top: 2em;
			left: 0;
			right: 0;
			color: #fff;
			text-shadow: 0 -1px rgba(#000, 0.5);
		}
	}
}


////////////////////////////////////////////////////////////////////////////////
// Editor
////////////////////////////////////////////////////////////////////////////////

$toolbar-height: 32px;
$settings-width: 320px;
$panel-pad: 12px;

form.script-editor {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	.toolbar {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: $toolbar-height;
		background-color: $secondary-color;
		a {
			height: $toolbar-height;
			padding: 7px 12px;
			color: #fff;
			font-size: 16px;
			font-weight: bold;
			display: inline-block;
			&.disabled, &:disabled {
				opacity: 0.5;
			}
			&:hover {
				background-color: rgba(#000, 0.2);
			}
			&.toggle-settings {
				float: right;
				position: relative;
				i::before {
					transition: transform $animation-duration ease;
				}
				&::before {
					content: "";
					position: absolute;
					left: 3px; right: 3px; top: 3px; bottom: 3px;
					border: 2px solid #fff;
				}
				&::after {
					content: "";
					position: absolute;
					right: 3px; top: 3px; bottom: 3px;
					width: 0;
					transition: width $animation-duration ease;
					background-color: rgba(#fff, 0.5);
				}
			}
			.shortcut {
				font-weight: normal;
				margin-left: 3px;
				opacity: 0.5;
			}
		}
	}
	.editor-container {
		position: absolute;
		left: 0;
		right: 0;
		top: $toolbar-height;
		bottom: 0;
		transition: right $animation-duration linear;
		.ace-container {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 0;
		}

		.syntax-error {
			border-bottom: 2px solid $alert-color;
			position: absolute;
		}

		.syntax-error-output {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			padding: 12px;
			font-size: 16px;
			color: #fff;
			background-color: $alert-color;
			z-index: 1;
		}
	}
	.settings-container {
		position: absolute;
		right: 0;
		top: $toolbar-height;
		bottom: 0;
		width: $settings-width;
		transform: translate($settings-width, 0);
		transition: transform $animation-duration linear;
		background-color: rgba(#fff, 0.9);
		display: flex;
		flex-direction: column;
		overflow-y: scroll;
		&::-webkit-scrollbar { width: 0 !important }
		.error-explanation {
			margin: $panel-pad $panel-pad 0 $panel-pad;
		}
		.settings-panel {
			background-color: #fff;
			padding: 8px;
			border-bottom: 1px solid rgba(#000, 0.15);
			overflow-y: hidden;
			margin: $panel-pad/2 $panel-pad;
			&:last-child {
				margin-bottom: $panel-pad;
			}
			a.right {
				float: right;
				font-size: 18px;
				position: relative;
				display: block;
				padding: 2px;
				cursor: pointer;
				line-height: 0;
				top: -4px;
			}
			h4 {
				font-size: 16px;
				margin: 0 0 6px 0;
			}
			select.schedule-time {
				float: right;
				width: inherit;
				margin-bottom: 0;
				position: relative;
				top: -4px;
			}
			input[type=text], select {
				margin-bottom: 8px;
			}
			textarea {
				margin-bottom: 0;
			}
			&.collapsed {
				max-height: 32px;
			}
		}
		.general {
			flex: 0 0 auto;
			margin-top: $panel-pad;
		}
		.fields {
			flex: 1 1 auto;
		}
		.schedule {
			flex: 0 0 auto;
		}
		.script-field {
			border-top: 1px solid #ddd;
			padding-top: $panel-pad;
			margin-bottom: $panel-pad / 2;
			a, .sort-handle {
				font-size: 24px;
				opacity: 0.5;
				display: block;
				padding: 4px;
			}
			.sort-handle {
				cursor: move;
			}
		}
	}
	.schedule-rule-editor {
		position: relative;
		.horizontal-grid {
			align-items: start;
			clear: both;
		}
		.stretch-column {
			border-right: 1px solid #ccc;
			&:last-child {
				border-right: none;
			}
		}
		.days-column {
			min-width: 64px;
		}
		.weeks-column {
			min-width: 96px;
		}
		label {
			font-size: 13px;
			input[type=checkbox] {
				margin-bottom: 0.5em;
				margin-right: 0.5em;
			}
		}
		a.all-months {
			position: absolute;
			right: 4px;
			bottom: 2px;
			font-size: 13px;
		}
	}
	&.show-settings {
		.editor-container {
			right: $settings-width;
		}
		.settings-container {
			transform: translate(0,0);
		}
		.toolbar a.toggle-settings {
			i::before {
				transform: rotate(180deg);
			}
			&::after {
				width: 30%;
			}
		}
	}
}


////////////////////////////////////////////////////////////////////////////////
// Exec Modal
////////////////////////////////////////////////////////////////////////////////

.script-messages {
	background-color: #fff;
	overflow-y: scroll;
	.message {
		padding: 2px 8px;
		font-size: 14px;
	}
	.message:nth-child(odd) {
		background-color: #f8f8f8;
	}
	.message.error {
		color: $alert-color;
	}
}

.script-report-exec-modal {
	h4 {
		margin-bottom: 12px;
		&:first-child {
			margin-top: 0;
		}
	}
	p.description {
		&:first-child {
			margin-top: 0;
		}
	}
	.io-column:first-child {
		min-width: 200px;
		max-width: 400px;
		position: relative;
		.fixed-controls {
			position: sticky;
			top: 0;
			padding: $panel-pad;
		}
	}
	.script-field-controls {
		position: relative;
		overflow: hidden;
		.loading-overlay {
			img {
				margin-top: 0;
				width: 200px;
				height: 100px;
			}
		}
	}
	a.cancel-exec {
		padding: 8px;
		position: absolute;
		top: $panel-pad * 2;
		left: $panel-pad;
		right: $panel-pad;
		background-color: $alert-color;
		display: block;
		font-weight: bold;
		color: #fff;
		text-align: center;
	}
	.script-messages {
		min-height: 320px;
		border: 1px solid #ccc;
		.message {
			padding: 3px 8px;
			font-size: 16px;
		}
	}
	.output-files {
		a {
			display: block;
			padding: 12px;
			text-align: center;
		}
		a::before {
			font-size: 64px;
			text-align: center;
			display: block;
			margin: 0 auto;
			position: relative;
			width: 0;
			left: -32px;
			line-height: 0.8;
		}
	}
}



////////////////////////////////////////////////////////////////////////////////
// Picker
////////////////////////////////////////////////////////////////////////////////

.script-picker {

}
table.scripts {
	th a {
		display: block;
	}
	tr.script {
		cursor: pointer;
		font-size: 14px;
		.col-title {
			font-weight: bold;
		}
		.col-visibility {
			font-style: italic;
		}
	}
}



////////////////////////////////////////////////////////////////////////////////
// Runs Table
////////////////////////////////////////////////////////////////////////////////

table.script-runs {
	margin-bottom: 8px;
	td {
		font-size: 14px;
		padding: 2px 6px;
	}
	td.status {
		font-weight: bold;
		background: transparent;
		&.success {
			color: $success-color;
		}
		&.error {
			color: $alert-color;
		}
		&.cancelled {
			color: #aaa;
		}
	}
	td.exception {
		color: $alert-color;
	}
}