/*
 * This is a manifest file that'll be compiled into layout.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add layout-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require plunketts/grid
 *= require plunketts/tiny-modal
 *= require plunketts/scripts
 *= require_tree .
 *= require_self
 */


$bar-height: 50px;
$green: #275f37;
$alert-color: #aa0000;


body {
    background-color: #f0f0f0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #333;
    padding-top: $bar-height;
}
a {
    color: #386177;
    cursor: pointer;
    text-decoration: none;
}
* {
    box-sizing: border-box;
}

.text-center {
    text-align: center;
}

a.demo-link {
    display: block;
    font-size: 20px;
    padding: 8px;
}

.with-icon i {
    margin-right: 0.4em;
}

.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(#888, 0.2);
}


#top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $bar-height;
    background-color: $green;
    a.title {
        display: block;
        text-align: center;
        padding: 10px;
        color: #fff;
        font-size: 22px;
    }
}

#main-actions {
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
    a {
        display: inline-block;
        color: #fff;
        text-align: center;
        padding: 4px 8px;
        cursor: pointer;
        i {
            display: block;
            font-size: 24px;
        }
        .title {
            font-size: 12px;
        }
    }
}


table.data {
    width: 100%;
    border-collapse: collapse;
    th {
        text-align: left;
        padding: 4px 8px;
    }
    td {
        padding: 4px 8px;
    }
    thead tr {
        border-bottom: 1px solid #ccc;
    }
    tbody tr:nth-child(odd) {
        background-color: #f8f8f8;
    }
}


#script-workspace-container {
    position: fixed;
    top: $bar-height;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #aaa;
}


input[type=text], input[type=email], input[type=date], select, textarea {
    padding: 6px;
    margin-bottom: 1em;
    width: 100%;
    font-size: 16px;
    &.error {
        border: 2px solid $alert-color;
    }
}
.readonly-field {
    padding: 6px;
    margin-bottom: 1em;
    width: 100%;
    font-size: 16px;
    background-color: rgba(#fff, 0.3);
    border: 1px solid #ddd;
}
label {
    display: block;
    font-size: 13px;
    margin-bottom: 3px;
    cursor: pointer;
    input[type=checkbox] {
        margin-bottom: 0.5em;
        margin-right: 0.5em;
    }
}
button {
    padding: 6px 12px;
}
.error-explanation {
    background-color: $alert-color;
    color: #fff;
    font-weight: bold;
    padding: 8px;
    font-size: 14px;
    ul {
        margin: 0;
        padding-left: 18px;
        li {
            line-height: 1.4;
        }
    }
}