
////////////////////////////////////////////////////////////////////////////////
// Preview
////////////////////////////////////////////////////////////////////////////////

.glyps-preview, .hub-icons-preview, .badges-preview {
	z-index: 0;
	display: grid;
	padding: 20px;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
	.icon {
		color: var(--link-color);
		display: block;
		text-align: center;
		i {
			display: block;
			margin: 0;
			font-size: 40px;
			line-height: 1.1;
		}
		svg {
			display: block;
			margin: 0 auto;
			width: 48px;
			height: 48px;
		}
		span {
			font-size: 12px;
			word-wrap: anywhere;
		}
	}
}