
$demo-colors: (
	body: #333,
	link: #1e6c7b,
	primary: #01a7b1,
	secondary: #1e6c7b,
	active: #f49891,
	pending: #eeba2b,
	alert: #ed584c,
	success: #01b201,
	inactive: #adadad,
);

:root {
	--tt-primary-color: #{map-get($demo-colors, 'primary')};
	--tt-dropdown-color: #{map-get($demo-colors, 'secondary')};
}

.tt-demo {
	--demo-border-color: #ccc;
	--demo-border-radius: 6px;
	width: 900px;
	max-width: 92%;
	margin: 0 auto;

	.annotated {
		position: relative;
		border: 1px dashed var(--demo-border-color);
		border-radius: var(--demo-border-radius);
		.class {
			position: absolute;
			font-weight: bold;
			font-size: 12px;
			left: 1em;
			top: -9px;
			line-height: 1;
			padding: 2px;
			background-color: var(--tt-panel-background);
			border-radius: var(--demo-border-radius);
			opacity: 0.75;
			&.right {
				left: initial;
				right: 1em;
			}
			&.center {
				left: 50%;
				transform: translate(-50%, 0);
			}
		}
		&:hover {
			border-style: solid;
			.class {
				opacity: 1;
			}
		}
	}


	.demo-content {
		padding: var(--tt-pad);
	}
}


@each $name, $color in $demo-colors {
	// button colors
	.tt-button .#{$name},
	.tt-toast.#{$name},
	.tt-modal-stack .modal-actions a.#{$name},
	.tt-panel .panel-actions a.#{$name},
	.tt-panel .panel-header a.#{$name},
	.tt-page-part .page-main .page-actions a.#{$name} {
		--color: #{$color};
	}
}