@import "../terrier/tt-mixins";


.dd-query-editor-canvas {
	background-color: var(--tt-inset-background);
	overflow: scroll;
	@include tt-inset-box-shadow;
}


////////////////////////////////////////////////////////////////////////////////
// Table Editor
////////////////////////////////////////////////////////////////////////////////

.dd-table-editor {
	--table-editor-width: 240px;
	--chicken-foot-size: var(--tt-pad);
	--chicken-foot-width: 2px;
	--chicken-foot-color: var(--tt-body-color);
	--label-opacity: 0.7;
	
	// icons
	i {
		display: block;
		transform: scale(1.2);
		line-height: 1;
	}
	
	padding: var(--tt-pad);
	gap: var(--tt-gap);
	display: flex;
	flex-direction: row-reverse; // render reversed so that the ends of the chicken feet are hidden
	justify-content: start;
	position: relative;
	
	// panel
	.table-panel {
		--pad: calc(var(--tt-pad) / 2);
		--gap: calc(var(--tt-gap) / 2);
		.title, .line {
			padding: var(--pad) calc(var(--pad)*1.5);
			gap: var(--gap);
			display: flex;
		}
		min-width: var(--table-editor-width);
		gap: 0;
		z-index: 1;
		> .title {
			font-weight: bold;
			text-align: center;
			justify-content: center;
		}
		section {
			border-top: 1px solid var(--tt-border-color);
			cursor: pointer;
			position: relative;
			z-index: 0;
			.title {
				font-size: var(--tt-label-font-size);
				align-items: center;
				display: flex;
				justify-content: center;
				opacity: var(--label-opacity);
			}
			.line {
				font-size: var(--tt-caption-font-size);
				flex-wrap: wrap;
				align-items: center;
				justify-content: space-between;
				&:nth-child(even) {
					background-color: var(--tt-odd-row-background);
				}
				> div {
					flex: 0 0 auto;
				}
				.alias {
					text-align: right;
				}
				.column, .name {
					font-weight: bold;
				}
				.as, .operator {
					opacity: var(--label-opacity);
				}
				.value, .in {
					color: var(--tt-secondary-color);
				}
				&.empty {
					text-align: center;
					justify-content: center;
					flex: 1 1 auto;
					opacity: var(--label-opacity);
				}
			}
			&:last-child .line:last-child {
				@include tt-bottom-rounded-corners;
			}
			&:hover {
				@include tt-box-shadow;
				z-index: 1;
			}
			&:active {
				transform: scale(0.99);
			}
		}
	}
	
	.joins-column {
		display: flex;
		flex-direction: column;
		z-index: 0;
	}
	
	.chicken-foot {
		content: "";
		position: absolute;
		left: calc(-1 * var(--tt-pad));
		width: calc(2 * var(--tt-pad));
		top: 50%;
		height: var(--chicken-foot-width);
		background-color: var(--chicken-foot-color);
		overflow: visible;
		opacity: var(--label-opacity);
		&::before {
			position: absolute;
			content: "";
			width: var(--chicken-foot-size);
			height: var(--chicken-foot-size);
			border: var(--chicken-foot-width) solid var(--chicken-foot-color);
			left: calc(-0.5 * var(--chicken-foot-size) - var(--chicken-foot-width)/2);
			top: calc(-0.5 * var(--chicken-foot-size) - var(--chicken-foot-width)/2);
			transform: rotate(45deg);
		}
	}

}


////////////////////////////////////////////////////////////////////////////////
// Column Editor
////////////////////////////////////////////////////////////////////////////////

.dd-columns-editor-table {

}

.dd-column-editor-header, .dd-column-editor {
	display: flex;
	gap: var(--tt-gap);
	align-items: center;
	padding: calc(var(--tt-pad)/2) var(--tt-pad);
	> div {
		display: flex;
		align-items: center;
	}
	> .name, > .alias {
		flex: 0 0 25%
	}
	> .function, > .group-by {
		flex: 0 0 100px;
	}
	> .group-by {
		justify-content: center;
	}
	> .actions {
		flex: 1 1 auto;
		justify-content: end;
		a {
			display: block;
			@include tt-scale-push;
		}
	}
}

.dd-column-editor {
	border-top: 1px solid var(--tt-border-color);
	&:nth-child(odd) {
		background-color: var(--tt-odd-row-background);
	}
}