@import "../terrier/tt-mixins";


.dd-query-editor-canvas {
	background-color: var(--tt-inset-background);
	overflow: scroll;
	@include tt-inset-box-shadow;
}


////////////////////////////////////////////////////////////////////////////////
// Table Editor
////////////////////////////////////////////////////////////////////////////////

.dd-table-editor {
	i {
		display: block;
		transform: scale(1.2);
		line-height: 1;
	}

	padding: var(--tt-pad);
	display: flex;
	gap: var(--tt-gap);
	--dd-table-editor-width: 240px;
	.table-panel {
		--pad: calc(var(--tt-pad) / 2);
		--gap: calc(var(--tt-gap) / 2);
		.title, .line {
			padding: var(--pad) calc(var(--pad)*1.5);
			gap: var(--gap);
			display: flex;
		}
		min-width: var(--dd-table-editor-width);
		gap: 0;
		> .title {
			font-weight: bold;
			text-align: center;
			justify-content: center;
		}
		section {
			border-top: 1px solid var(--tt-border-color);
			.title {
				font-size: var(--tt-label-font-size);
				align-items: center;
				display: flex;
				justify-content: center;
			}
			.line {
				font-size: var(--tt-caption-font-size);
				flex-wrap: wrap;
				align-items: center;
				justify-content: space-between;
				&:nth-child(even) {
					background-color: var(--tt-odd-row-background);
				}
				> div {
					flex: 0 0 auto;
				}
				.name {
					flex: 1 1 auto;
				}
				.alias {
					text-align: right;
					opacity: 0.75;
				}
				.column {
					font-weight: bold;
				}
				.in, .value {
					color: var(--tt-secondary-color);
				}
				> .empty {
					text-align: center;
					justify-content: center;
					flex: 1 1 auto;
					opacity: 0.5;
				}
			}
		}
	}
	.joins-column {
		display: flex;
		flex-direction: column;
	}
}