@import "../terrier/tt-mixins";

// the part that actualy renders a dive plot
.dd-dive-plot-render {
	// placeholder
	padding: 4em;
	border: 2px solid var(--tt-secondary-color);
	background: var(--tt-inset-background);
	text-align: center;
}


.dd-dive-plot-list {
	.plot-title {
		a {
			font-size: calc(var(--tt-body-font-size) * 1.25);
			@include tt-scale-push;
		}
	}
}


// shown in the right Plots panel in the dive editor
.dd-dive-plot-preview {
	margin-bottom: var(--tt-gap);
}