@import "../terrier/tt-mixins";

// the part that actualy renders a dive plot
.dd-dive-plot-render {
	// placeholder
	padding: 4em;
	border: 2px solid var(--tt-secondary-color);
	background: var(--tt-inset-background);
	text-align: center;
}


.dd-dive-plot-list {
	.plot-title {
		a {
			font-size: calc(var(--tt-body-font-size) * 1.25);
			@include tt-scale-push;
		}
	}
}


// shown in the right Plots panel in the dive editor
.dd-dive-plot-preview {
	margin-bottom: var(--tt-gap);
}

.dd-plot-axes-and-preview {
	.plot-title-field {
		width: initial;
		margin: 0 auto;
		input[type=text] {
			width: 240px;
		}
	}
}


// fields for an individual axis
.dd-dive-plot-axis-fields {
	display: flex;
	gap: var(--tt-gap);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&.bottom {
		flex-direction: row;
	}
	input[type=text] {
		flex: 0 0 auto;
		width: 140px;
	}
}