@import "../terrier/tt-mixins";

// TODO: it would be nice if we didn't have to do this for each implementation
.tuff-part-PlotPart {
	min-height: 320px;
	max-width: 100%;
	position: relative;
	.tuff-plot-container {
		--tuff-plot-axis-stroke: var(--tt-body-color);
		--tuff-plot-viewport-fill: var(--tt-panel-background);
		--tuff-plot-label-color: var(--tt-body-color);
		--tuff-plot-grid-stroke: #{rgba(#888, 0.1)};
		--tuff-plot-tool-background: var(--tt-panel-background);
		--tuff-plot-axis-font-weight: normal;
	}

	g.hover {
		background-color: var(--tt-inset-background);
	}
}

// the part that actually renders a dive plot
.dd-dive-plot-render {
	@include tt-inset-box;
	@include tt-inset-box-shadow;
	text-align: center;
	min-width: $phone-breakpoint;
	position: relative;
}


.dd-dive-plot-list {
	.plot-title {
		padding: 0.5em 0;
		font-size: calc(var(--tt-body-font-size) * 1.25);
		--tt-scale-push-factor: 0.01;
		@include tt-scale-push;
	}
}


// shown in the right Plots panel in the dive editor
.dd-dive-plot-preview {
	margin-bottom: var(--tt-gap);
}

.dd-plot-axes-and-preview {
	.plot-title-field {
		width: initial;
		margin: 0 auto;
		input[type=text] {
			width: 240px;
		}
	}
}


// fields for an individual axis
.dd-dive-plot-axis-fields {
	display: flex;
	gap: var(--tt-gap);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&.bottom {
		flex-direction: row;
	}
	input[type=text] {
		flex: 0 0 auto;
		width: 140px;
	}
	select {
		width: initial;
	}
}

.dd-dive-plot-trace-row {
	display: flex;
	--tt-scale-push-factor: 0.01;
	@include tt-scale-push;

	--preview-size: 64px;
	svg.trace-style-preview {
		width: var(--preview-size);
		height: calc(var(--preview-size) / 2);
	}
}

// TraceStyle fields
.dd-trace-style-fields {
	--preview-size: 64px;
	.color-options {
		display: flex;
		flex-wrap: wrap;
		gap: var(--tt-gap);
	}
	.default-color {
		.color-preview {
			@include tt-diagonal-stripe-background(#eee, #ccc, 0.5em);
		}
	}
	.color-preview {
		width: var(--preview-size);
		height: var(--preview-size);
	}
	svg {
		width: var(--preview-size);
		height: var(--preview-size);
	}
	.stroke-width-preview line {
		stroke: var(--tt-secondary-color);
	}
	.dash-preview line {
		stroke: var(--tt-secondary-color);
		stroke-width: 2px;
	}
}