@import "../terrier/tt-mixins";

.dd-query-editor {
	display: flex;
	flex-direction: column;
	gap: var(--tt-gap);
	flex: 1 1 auto;
	min-height: 0;
}


.dd-query-editor-canvas, .dd-query-sub-editors {
	background-color: var(--tt-inset-background);
	@include tt-inset-box-shadow;
	@include tt-rounded-corners;
	position: relative;
}

.dd-query-editor-canvas {
	overflow: scroll;
	flex: 1 1 auto;
}

.dd-query-sub-editors {
	flex: 0 0 auto;
	padding: var(--tt-pad);
}


////////////////////////////////////////////////////////////////////////////////
// Table Editor
////////////////////////////////////////////////////////////////////////////////

.dd-table-editor {
	--table-editor-width: 240px;
	--table-panel-border-color: var(--tt-secondary-color);
	--table-panel-border-size: 3px;
	--chicken-foot-size: var(--tt-pad);
	--chicken-foot-width: var(--table-panel-border-size);
	--chicken-foot-color: var(--table-panel-border-color);
	--label-opacity: 0.7;

	
	// icons
	i {
		display: block;
		transform: scale(1.2);
		line-height: 1;
	}
	
	padding: var(--tt-pad);
	gap: var(--tt-gap);
	display: flex;
	flex-direction: row-reverse; // render reversed so that the ends of the chicken feet are hidden
	justify-content: start;
	position: relative;
	
	// panel
	.table-panel {
		--pad: calc(var(--tt-pad) / 2);
		--gap: calc(var(--tt-gap) / 2);
		background-color: var(--table-panel-border-color);
		padding: var(--table-panel-border-size);
		display: flex;
		flex-direction: column;
		gap: var(--table-panel-border-size);
		position: relative;
		.title, .line {
			padding: var(--pad) calc(var(--pad)*1.5);
			gap: var(--gap);
			display: flex;
			align-items: center;
		}
		min-width: var(--table-editor-width);
		z-index: 1;
		> .title {
			font-weight: bold;
			text-align: center;
			justify-content: center;
			@include tt-inset-white-text;
			@include tt-shaded-hover;
			@include tt-rounded-corners;
			@include tt-no-select;
			cursor: pointer;
		}
		section {
			background-color: #fff;
			@include tt-rounded-corners;
			cursor: pointer;
			position: relative;
			z-index: 0;
			.title {
				font-size: var(--tt-label-font-size);
				align-items: center;
				display: flex;
				justify-content: center;
				opacity: var(--label-opacity);
				border-bottom: 1px solid var(--tt-border-color);
				.prefix {
					font-weight: bold;
				}
			}
			.line {
				font-size: var(--tt-caption-font-size);
				flex-wrap: wrap;
				align-items: center;
				justify-content: space-between;
				&:nth-child(even) {
					background-color: var(--tt-odd-row-background);
					&:last-child {
						@include tt-bottom-rounded-corners;
					}
				}
				> div, > i {
					flex: 0 0 auto;
				}
				.alias {
					text-align: right;
				}
				.column, .name, .alias, .value, .function {
					flex: 1 1 auto;
				}
				.column, .name {
					font-weight: bold;
				}
				.as, .operator {
					opacity: var(--label-opacity);
				}
				.value, .in {
					color: var(--tt-secondary-color);
					text-align: right;
				}
				&.empty {
					text-align: center;
					justify-content: center;
					flex: 1 1 auto;
					opacity: var(--label-opacity);
				}
				&.error {
					max-width: var(--table-editor-width);
					background-color: var(--tt-alert-color);
					@include tt-inset-white-text;
					.error-message {
						flex: 0 1 100%;
					}
				}
			}
			&:last-child .line:last-child {
				@include tt-bottom-rounded-corners;
			}
			&:hover {
				@include tt-hover-box-shadow;
				transform: scale(1.01);
				z-index: 1;
			}
			&:active {
				@include tt-active-box-shadow;
				transform: scale(0.99);
			}
			&.filters {
				flex: 1 1 auto;
			}
		}
		a.action {
			display: flex;
			@include tt-inset-white-text;
			@include tt-shaded-hover;
			@include tt-rounded-corners;
			@include tt-no-select;
			justify-content: center;
			gap: 0.5em;
			padding: 0.5em;
			align-items: center;
			font-size: var(--tt-caption-font-size);
		}
		.dd-hint-container {
			padding: 0.5em;
		}
		.dd-hint.joins {
			position: absolute;
			bottom: 0;
			transform: translate(-50%, 110%);
			left: 50%;
			width: 80%;
			.title {
				padding: 0;
				display: block;
			}
		}
	} // .table-panel
	
	.joins-column {
		display: flex;
		flex-direction: column;
		z-index: 0;
	}
	
	.chicken-foot {
		content: "";
		position: absolute;
		left: calc(-1.1 * var(--tt-pad)); // fudge
		width: calc(2.1 * var(--tt-pad));
		top: 50%;
		height: var(--chicken-foot-width);
		background-color: var(--chicken-foot-color);
		overflow: visible;
		//opacity: var(--label-opacity);
		&::before {
			position: absolute;
			content: "";
			width: var(--chicken-foot-size);
			height: var(--chicken-foot-size);
			border: var(--chicken-foot-width) solid var(--chicken-foot-color);
			left: calc(-0.5 * var(--chicken-foot-size) - var(--chicken-foot-width)/2);
			top: calc(-0.5 * var(--chicken-foot-size) - var(--chicken-foot-width)/2);
			transform: rotate(45deg);
		}
	}

}


////////////////////////////////////////////////////////////////////////////////
// Column and Filter Editors
////////////////////////////////////////////////////////////////////////////////

.dd-editor-header, .dd-editor-row {
	display: flex;
	gap: var(--tt-gap);
	align-items: center;
	padding: calc(var(--tt-pad)/2) var(--tt-pad);

	// common columns
	> div {
		display: flex;
		align-items: center;
	}
	> .actions {
		flex: 1 1 auto;
		justify-content: end;
		a {
			display: block;
			@include tt-scale-push;
		}
	}

	// column editor columns
	> .name, > .alias {
		flex: 0 0 25%
	}
	> .function, > .group-by {
		flex: 0 0 100px;
	}
	> .group-by {
		justify-content: center;
	}

	// filter editor columns
	> .column {
		flex: 0 0 25%;
	}
	> .operator {
		flex: 0 0 80px;
		text-align: center;
		justify-content: center;
	}
	> .filter {
		flex: 1 1 auto;
		&.column {
			flex-direction: column;
			gap: calc(var(--tt-gap) / 2);
		}
	}
	a.date-range-preselect {
		display: block;
		font-size: var(--tt-caption-font-size);
		padding: 0.4em 1em;
		text-align: center;
		height: 2em;
		line-height: 1;
		border: 2px solid transparent;
		&.current {
			border-color: var(--primary-color);
			border-radius: 1em;
			@include tt-concave-bg(#fff);
		}
	}

	// fields
	input[type=number] {
		width: 90px;
	}

}

// make the rows alternate color with a border separating them
.dd-editor-row-container {
	border-bottom: 1px solid var(--tt-border-color);
	> div {
		border-top: 1px solid var(--tt-border-color);
		&:nth-child(odd) {
			background-color: var(--tt-odd-row-background);
		}
	}
}


.dd-select-columns-dropdown {
	.tt-dropdown-content {
		overflow-y: scroll;
	}
	a, label, .header {
		@include tt-inset-white-text;
		@include tt-text-pad;
		@include tt-no-select;
		display: flex;
		align-items: center;
		gap: 0.5em;
		padding: 0.5em 1em;
		font-size: var(--tt-body-font-size);
		input {
			margin: 0;
		}
		> div, span {
			flex: 1 1 auto;
		}
	}

	a, label {
		@include tt-shaded-hover;
		&:hover {
			color: #fff;
		}
	}

	a.add {
		background-color: var(--tt-primary-color);
		@include tt-bottom-rounded-corners;
		position: sticky;
		bottom: 0;
		&:hover {
			filter: brightness(1.08);
		}
		&:active {
			filter: brightness(0.92);
		}
	}

	.header {
		border-bottom: 1px solid rgba(#fff, 0.5);
		position: sticky;
		top: 0;
		background: var(--tt-dropdown-color);
		z-index: 1;
	}
}


////////////////////////////////////////////////////////////////////////////////
// SQL Output
////////////////////////////////////////////////////////////////////////////////

.dd-sql-output {
	.sql {
		overflow: scroll;
		@include tt-inset-box;
		@include tt-inset-box-shadow;
		&.alert {
			border: 1px solid var(--tt-alert-color);
		}
		padding: 1em;
		pre {
			margin: 0;
			line-height: 1.3;
			font-family: monospace;
			.keyword, .class {
				color: var(--tt-secondary-color);
				font-weight: bold;
			}
			.string, .integer {
				color: var(--tt-primary-color);
			}
		}
	}
}


////////////////////////////////////////////////////////////////////////////////
// Preview
////////////////////////////////////////////////////////////////////////////////

.dd-query-preview {
	.table-container {
		position: relative;
		overflow: scroll;
		max-height: 15em;
		border: 1px solid var(--tt-border-color);
		@include tt-rounded-corners;
	}
}

table.dd-query-result {
	border-collapse: collapse;
	min-width: 100%;
	th, td {
		padding: 0.3em 0.6em;
		font-size: var(--tt-caption-font-size);
		min-width: 80px; // the table layout is pretty aggressive without this
		line-height: 1.3;
	}
	th {
		position: sticky;
		top: 0;
		background-color: var(--tt-secondary-color);
		text-align: left;
		a {
			@include tt-inset-white-text;
			font-weight: normal;
		}
		&:first-child {
			border-top-left-radius: var(--tt-border-radius);
		}
		&:last-child {
			border-top-right-radius: var(--tt-border-radius);
		}
	}
	td {
		border: 1px solid var(--tt-border-color);
	}
	.date {
		text-align: center;
		font-weight: bold;
	}
	.datetime {
		text-align: center;
		> div {
			display: inline-block;
			padding: 0 0.5em;
		}
	}
	.integer, .float, .dollars, .cents {
		text-align: right;
	}
	tbody tr:nth-of-type(even) {
		background: #fff;
	}
	tbody tr:nth-of-type(odd) {
		background: var(--tt-odd-row-background);
	}
}


////////////////////////////////////////////////////////////////////////////////
// Model Picker
////////////////////////////////////////////////////////////////////////////////

.dd-query-model-picker {
	label.model-option {
		flex: 0 0 auto;
		padding-left: 2em;
		.name {
			font-weight: bold;
			font-size: var(--tt-body-font-size);
		}
		.description {
			font-size: var(--tt-caption-font-size);
		}
	}
}