
$secondary-color: #40555e !default;
$secondary-color-darker: darken($secondary-color, 12%) !default;
$alert-color: #aa0000 !default;
$warn-color: #e67e22;
$success-color: #00aa00 !default;
$animation-duration: 0.2s !default;

$toolbar-height: 32px;
$settings-width: 340px;
$panel-pad: 12px;


@mixin single-line {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin scroll-x {
	overflow-x: scroll;
	&::-webkit-scrollbar { height: 0 !important }
}

@mixin scroll-y {
	overflow-y: scroll;
	&::-webkit-scrollbar { width: 0 !important }
}


////////////////////////////////////////////////////////////////////////////////
// Tabs
////////////////////////////////////////////////////////////////////////////////

.lm_dragProxy .lm_content {
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
}

.lm_dropTargetIndicator {
	box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.4);
	outline: 1px dashed #cccccc;
	margin: 1px;
	transition: all 200ms ease;
	.lm_inner {
		background: #000000;
		opacity: .1;
	}
}


.script-workspace {
	.lm_goldenlayout {
		background-color: $secondary-color-darker;
		z-index: 0;
	}
	.lm_content {
		background-color: transparent;
	}

	.lm_splitter {
		background: $secondary-color-darker;
		opacity: 0.8;
		transition: opacity 200ms ease;
		&:hover, &.lm_dragging {
			opacity: 1;
			background: $secondary-color-darker;
		}
	}


	.lm_header {
		height: $toolbar-height !important;
		background-color: $secondary-color-darker;
		[class^=lm_] {
			// I don't get why they'd set it to content-box
			box-sizing: border-box !important;
		}
		.lm_tab {
			background-color: $secondary-color;
			color: #fff;
			box-shadow: none !important;
			opacity: 0.6;
			font-size: 14px;
			padding: 8px 12px;
			height: $toolbar-height;
			.lm_close_tab {
				display: none;
				position: relative;
				margin-left: 0.5em;
				top: -2px;
				&::before {
					font-family: Ionicons;
					content: "\f129";
					font-size: 14px;
					line-height: 1;
				}
			}
			&:hover, &.lm_active {
				opacity: 1;
			}
			&.lm_active {
				// padding: 3px 26px 3px 12px;
				.lm_close_tab {
					display: inline-block;
				}
			}
		}
		.lm_controls {
			display: none;
			> li {
				background-image: none;;
				font-size: 15px;
				line-height: 1;
				padding: 4px 2px;
				color: #fff;
				opacity: 0.7;
				&::before {
					font-family: Ionicons;
				}
				&:hover {
					opacity: 1;
				}
			}
			.lm_close::before {
				content: "\f129";
			}
			.lm_maximise {
				display: none;
				::before {
					content: "\f25e";
				}
			}
			.lm_popout::before {
				content: "\f13a";
			}
		}
	}

}


////////////////////////////////////////////////////////////////////////////////
// Workspace
////////////////////////////////////////////////////////////////////////////////

.script-workspace {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #aaa;
	.lm_goldenlayout {
		> .lm_item {
			position: relative;
			z-index: 1;
			background-color: #aaa;
		}
		a.open-script {
			position: absolute;
			z-index: 0;
			font-size: 32px;
			display: block;
			text-align: center;
			top: 2em;
			left: 0;
			right: 0;
			color: #fff;
			text-shadow: 0 -1px rgba(#000, 0.5);
		}
	}
}


////////////////////////////////////////////////////////////////////////////////
// Editor
////////////////////////////////////////////////////////////////////////////////

form.script-editor {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	.toolbar {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: $toolbar-height;
		background-color: $secondary-color;
		a {
			height: $toolbar-height;
			padding: 7px 12px;
			color: #fff;
			font-size: 16px;
			display: inline-block;
			line-height: 1.3;
			&.disabled, &:disabled {
				opacity: 0.5;
			}
			&:hover {
				background-color: rgba(#000, 0.2);
			}
			&.toggle-settings {
				float: right;
				position: relative;
				i::before {
					transition: transform $animation-duration ease;
				}
				&::before {
					content: "";
					position: absolute;
					left: 3px; right: 3px; top: 3px; bottom: 3px;
					border: 2px solid #fff;
				}
				&::after {
					content: "";
					position: absolute;
					right: 3px; top: 3px; bottom: 3px;
					width: 0;
					transition: width $animation-duration ease;
					background-color: rgba(#fff, 0.5);
				}
			}
			.shortcut {
				font-weight: normal;
				margin-left: 3px;
				opacity: 0.5;
			}
		}
	}
	.editor-container {
		position: absolute;
		left: 0;
		right: 0;
		top: $toolbar-height;
		bottom: 0;
		transition: right $animation-duration linear;
		.ace-container {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 0;
		}

		.syntax-error {
			border-bottom: 2px solid $alert-color;
			position: absolute;
		}

		.syntax-error-output {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			padding: 12px;
			font-size: 16px;
			color: #fff;
			background-color: $alert-color;
			z-index: 1;
		}
	}
	.settings-container {
		position: absolute;
		right: 0;
		top: $toolbar-height;
		bottom: 0;
		width: $settings-width;
		transform: translate($settings-width, 0);
		transition: transform $animation-duration linear;
		background-color: rgba(#fff, 0.9);
		display: flex;
		flex-direction: column;
		overflow-y: scroll;
		&::-webkit-scrollbar { width: 0 !important }
		.error-explanation {
			margin: $panel-pad $panel-pad 0 $panel-pad;
		}
		.settings-panel {
			background-color: #fff;
			padding: 8px;
			border-bottom: 1px solid rgba(#000, 0.15);
			margin: $panel-pad/2 $panel-pad;
			&:last-child {
				margin-bottom: $panel-pad;
			}
			a.right {
				float: right;
				font-size: 18px;
				position: relative;
				display: block;
				padding: 2px;
				cursor: pointer;
				line-height: 0;
				top: -4px;
			}
			h4 {
				font-size: 16px;
				margin: 0 0 6px 0;
			}
			select.schedule-time {
				float: right;
				width: inherit;
				margin-bottom: 0;
				position: relative;
				top: -6px;
				height: 28px;
				font-size: 14px;
				padding: 0 8px;
			}
			input[type=text], select {
				margin-bottom: 8px;
			}
			textarea {
				margin-bottom: 0;
			}
			&.collapsed {
				max-height: 32px;
				overflow-y: hidden;
			}
		}
		.general {
			flex: 0 0 auto;
			margin-top: $panel-pad;
		}
		.fields {
			flex: 1 1 auto;
		}
		.schedule {
			flex: 0 0 auto;
		}
		.script-field {
			border-top: 1px solid #ddd;
			padding-top: $panel-pad;
			margin-bottom: $panel-pad / 2;
			a, .sort-handle {
				font-size: 24px;
				opacity: 0.5;
				display: block;
				padding: 4px;
				line-height: 1;
			}
			.sort-handle {
				cursor: move;
			}
		}
	}
	&.show-settings {
		.editor-container {
			right: $settings-width;
		}
		.settings-container {
			transform: translate(0,0);
		}
		.toolbar a.toggle-settings {
			i::before {
				transform: rotate(180deg);
			}
			&::after {
				width: 30%;
			}
		}
	}
}


////////////////////////////////////////////////////////////////////////////////
// Schedule Rule Editor
////////////////////////////////////////////////////////////////////////////////

.schedule-rule-editor {
	position: relative;
	min-width: 278px;
	.horizontal-grid {
		align-items: start;
		clear: both;
	}
	.stretch-column, .shrink-column {
		border-right: 1px solid #ccc;
		&:last-child {
			border-right: none;
		}
	}
	.days-column {
		min-width: 64px;
	}
	.weeks-column {
		min-width: 96px;
	}
	label {
		font-size: 13px;
		input[type=checkbox] {
			margin-bottom: 0.5em;
			margin-right: 0.5em;
		}
	}
	a.all-months {
		position: absolute;
		right: 4px;
		bottom: 2px;
		font-size: 13px;
	}
}


////////////////////////////////////////////////////////////////////////////////
// Exec Modal
////////////////////////////////////////////////////////////////////////////////

.script-messages {
	background-color: #fff;
	overflow-y: scroll;
	.message {
		padding: 2px 8px;
		font-size: 14px;
		&:nth-child(odd) {
			background-color: #f8f8f8;
		}
		&.debug {
			color: #aaa;
		}
		&.error {
			color: $alert-color;
		}
		&.warn {
			color: $warn-color;
		}
		&.success {
			color: $success-color;
		}
	}
}

.script-report-exec-modal {
	h4 {
		margin-bottom: 12px;
		&:first-child {
			margin-top: 0;
		}
	}
	p.description {
		&:first-child {
			margin-top: 0;
		}
	}
	.io-column:first-child {
		min-width: 200px;
		max-width: 400px;
		position: relative;
		.fixed-controls {
			position: sticky;
			top: 0;
			padding: 0 $panel-pad;
			min-height: 400px;
		}
	}
	.script-field-controls {
		position: relative;
		overflow: hidden;
		.loading-overlay {
			img {
				margin-top: 0;
				width: 200px;
				height: 100px;
			}
		}
	}
	a.cancel-exec {
		padding: 8px;
		position: absolute;
		top: $panel-pad * 2;
		left: $panel-pad;
		right: $panel-pad;
		background-color: $alert-color;
		display: block;
		font-weight: bold;
		color: #fff;
		text-align: center;
	}
	.script-messages {
		min-height: 320px;
		border: 1px solid #ccc;
		.message {
			padding: 3px 8px;
			font-size: 16px;
		}
	}
	.output-files {
		a {
			display: block;
			padding: 12px 0;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}



////////////////////////////////////////////////////////////////////////////////
// Picker
////////////////////////////////////////////////////////////////////////////////

.script-picker {

}
input[type=text].script-picker-filter {
	flex: 1 0 300px;
	position: relative;
	top: 4px;
	margin-left: 1em;
	margin-bottom: 0;
	&:focus {
		outline: none;
	}
}
table.scripts {
	th a {
		display: block;
	}
	tr.script {
		cursor: pointer;
		font-size: 14px;
		.col-title {
			font-weight: bold;
		}
		.col-visibility {
			font-style: italic;
		}
	}
}


////////////////////////////////////////////////////////////////////////////////
// Runs Table
////////////////////////////////////////////////////////////////////////////////

table.script-runs {
	margin-bottom: 8px;
	td {
		font-size: 14px;
		padding: 2px 6px;
		line-height: 1.4;
	}
	td.status {
		font-weight: bold;
		background: transparent;
		&.success {
			color: $success-color;
		}
		&.error {
			color: $alert-color;
		}
		&.running, &.cleared {
			color: $warn-color;
		}
		&.cancelled {
			color: #aaa;
		}
	}
	td.exception {
		color: $alert-color;
	}
	.date, .created-by {
		font-weight: bold;
	}
	.key {
		opacity: 0.8;
	}
	a.clear-run {
		font-weight: bold;
		color: $alert-color;
	}
}


////////////////////////////////////////////////////////////////////////////////
// Settings Modal
////////////////////////////////////////////////////////////////////////////////

form.script-settings {
	.error-explanation {
		margin-bottom: 1em;
	}
	.schedule-column {
		margin-left: 2em;
		h3 {
			margin-top: 0;
		}
	}
}


////////////////////////////////////////////////////////////////////////////////
// Script Search
////////////////////////////////////////////////////////////////////////////////

$results-list-width: 400px;

.script-search-input {
	flex: 1 0 400px;
	top: 4px;
	margin-left: 1em;
	position: relative;
	min-width: 320px;
	input[type=text].script-search {
		padding: 6px 20px;
		height: 40px;
		font-size: 18px;
		margin-bottom: 0;
		&:focus {
			outline: none;
		}
	}
	.results-summary {
		position: absolute;
		top: 10px;
		right: 16px;
		font-size: 20px;
		font-weight: lighter;
		color: #aaa;
	}
}

.script-searcher {
	border-top: 1px solid #ccc;
	margin-top: 0;
	display: flex;
	.results-list {
		flex: 0 0 $results-list-width;
		border-right: 1px solid #ccc;
		background-color: #f0f0f0;
		@include scroll-y;
		.script-result {
			border-bottom: 1px solid #ccc;
			padding: 4px 8px;
			cursor: pointer;
			.title {
				font-size: 16px;
				color: $secondary-color;
			}
			&:hover {
				background-color: #fff;
			}
			&.current {
				border-left: 4px solid $secondary-color;
				background-color: #fff;
			}
		}
	}
	.body-pane {
		flex: 1 1 auto;
		position: fixed;
		left: $results-list-width;
		top: 66px;
		right: 0;
		bottom: 0;
		background-color: #fff;
		.ace_marker-layer .ace_selected-word {
			background: rgba($secondary-color, 0.25) !important;
			border: 2px solid $secondary-color !important;
		}
	}
	a.open-script {
		display: block;
		position: fixed;
		right: 6px;
		top: 65px;
		font-size: 32px;
	}
}


////////////////////////////////////////////////////////////////////////////////
// Action Log Diff
////////////////////////////////////////////////////////////////////////////////

.script-action-log {
  .action-log-listing {
    min-height: 800px;

    th.key {
      width: 160px;
    }

    table.data.action-log:not(.d2h-diff-table) {
      table-layout: fixed;
    }

    .d2h-wrapper {
      position: relative;

      .d2h-file-header {
        display: none;
      }
      table.d2h-diff-table {
        margin-bottom: 0;
        border: 0;
        background-color: unset;

        .d2h-info {
          background-color: #cfd2d3;
        }

        tr {
          background-color: unset;
        }

        td {
          padding: unset;
          line-height: unset;
          position: unset;
          border: 0;
          border-radius: 0;
          font-size: .8rem;

          &.d2h-code-side-linenumber {
            position: absolute;
            text-align: right;
          }
        }
      }
    }
  }
}
