@import "tt-mixins";

.tt-dropdown-content {
	pointer-events: auto;
	position: fixed;
	background-color: var(--tt-dropdown-color);
	@include tt-inset-white-text;
	@include tt-rounded-corners;
	@include tt-box-shadow;
	transform: scale(0);
	transition: transform var(--tt-animation-duration) ease;

	overflow-y: auto;
	overflow-x: hidden;

	&.show {
		transform: scale(1);
	}

	.padded {
		padding: var(--tt-pad);
	}

	label {
		text-transform: none;
		margin-bottom: 0;
	}
}

.tt-dropdown-backdrop {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(#000, 0.05);
}

.tt-actions-dropdown {
	.tt-dropdown-content {
		@include scroll-y;
	}
	a, .header {
		display: flex;
		@include tt-inset-white-text;
		@include tt-text-pad;
		@include tt-no-select;
		@include tt-brighten-hover;
		flex-wrap: wrap;
		row-gap: 0.2em;
		align-items: center;
		gap: 0.5em;
		@include tt-inset-white-text;
		font-size: var(--tt-body-font-size);
		background-color: var(--tt-secondary-color);

		&:first-child {
			@include tt-top-rounded-corners;
		}

		&:last-child {
			@include tt-bottom-rounded-corners;
		}

		> div, > span {
			flex: 1 1 auto;
		}

		&.inactive {
			opacity: 0.5;
		}

		.subtitle {
			flex: 0 0 100%;
			font-size: var(--tt-label-font-size);
		}

		.icon.white svg {
			@include tt-icon-size(0.75);
			* {
				color: var(--tt-white-color);
			}
		}

		&.border-top {
			border-top: 1px solid rgba(#fff, 0.5);
		}

		&.primary {
			background-color: var(--tt-primary-color);
		}

		> .right-title {
			flex: 0 0 auto;
			text-align: right;
			font-style: italic;
		}

		&:hover {
			color: #fff;
		}
	}


	.header {
		justify-content: center;

		div, span {
			flex: 0 0 auto;
		}

		&:hover {
			filter: none;
		}
	}
}