@import "tt-mixins";

.tt-dropdown-content {
	pointer-events: auto;
	position: fixed;
	background-color: var(--tt-dropdown-color);
	@include tt-inset-white-text;
	@include tt-rounded-corners;
	@include tt-box-shadow;
	transform: scale(0);
	transition: transform var(--tt-animation-duration) ease;

	overflow-y: scroll;
	overflow-x: hidden;

	&.show {
		transform: scale(1);
	}

	.padded {
		padding: var(--tt-pad);
	}

	label {
		text-transform: none;
		margin-bottom: 0;
	}
}

.tt-dropdown-backdrop {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(#000, 0.05);
}

.tt-actions-dropdown {
	a {
		display: flex;
		flex-wrap: wrap;
		row-gap: 0.2em;
		align-items: center;
		gap: 0.5em;
		padding: 0.5em 1em;

		.title, .subtitle {
			@include tt-inset-white-text;
		}

		.subtitle {
			flex: 0 0 100%;
			font-size: var(--tt-label-font-size);
		}

		.icon.white svg {
			@include tt-icon-size(0.75);
			* {
				color: var(--tt-white-color);
			}
		}

		&:hover {
			background-color: rgba(#000, 0.2);
		}

		&.border-top {
			border-top: 1px solid rgba(#fff, 0.5);
		}
	}
}