.tt-grid {
	display: grid;

	&.gap {
		grid-gap: var(--tt-gap);
	}

	&.large-gap {
		grid-gap: calc(var(--tt-gap) * 2);
	}

	&.small-gap {
		grid-gap: calc(var(--tt-gap) / 2);
	}

	grid-template-columns: repeat(auto-fill, minmax(var(--tt-grid-column-width, 350px), 1fr));

	&.fit-width {
		grid-template-columns: repeat(auto-fit, minmax(var(--tt-grid-column-width, 350px), 1fr));
	}

	&.small-columns {
		--tt-grid-column-width: 225px;
	}

	&.large-columns {
		--tt-grid-column-width: 475px;
	}

	&.x-large-columns {
		--tt-grid-column-width: 550px;
	}
}