.tt-grid {
	display: grid;

	&.gap {
		grid-gap: var(--tt-gap);
	}

	&.large-gap {
		grid-gap: calc(var(--tt-gap) * 2);
	}

	&.small-gap {
		grid-gap: calc(var(--tt-gap) / 2);
	}

	&.row-gap {
		grid-row-gap: var(--tt-gap);
	}

	&.large-row-gap {
		grid-row-gap: calc(var(--tt-gap) * 2);
	}

	&.small-row-gap {
		grid-row-gap: calc(var(--tt-gap) / 2);
	}

	&.col-gap {
		grid-column-gap: var(--tt-gap);
	}

	&.large-col-gap {
		grid-column-gap: calc(var(--tt-gap) * 2);
	}

	&.small-col-gap {
		grid-column-gap: calc(var(--tt-gap) / 2);
	}

	grid-template-columns: repeat(var(--tt-grid-fill-mode, auto-fill), minmax(min(var(--tt-grid-column-width, 350px), 100%), 1fr));

	&.fit-width {
		--tt-grid-fill-mode: auto-fit;
	}

	&.small-columns {
		--tt-grid-column-width: 225px;
	}

	&.large-columns {
		--tt-grid-column-width: 475px;
	}

	&.x-large-columns {
		--tt-grid-column-width: 550px;
	}
}