@import "tt-mixins";

// A list of flex rows that can contain text or links
.tt-list {
	display: flex;
	flex-direction: column;
	> div {
		display: flex;
		align-items: center;
		border-top: 1px solid var(--tt-border-color);
		padding: calc(var(--tt-pad)/2) var(--tt-pad);
		gap: var(--tt-pad);
	}
	a, > .tt-list-item {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		gap: 0.5em;
		.name, .title {
			flex: 1 1 auto;
		}
	}

	a {
		&:hover {
			text-decoration: underline;
		}
		&.icon-only {
			flex: 0 0 auto;
			@include tt-scale-push;
			font-size: 125%;
		}
	}
}