@import "tt-mixins";

////////////////////////////////////////////////////////////////////////////////
// Global
////////////////////////////////////////////////////////////////////////////////

.tt-list-viewer {
	@include tt-absolute-fill;
	display: flex;
	//gap: var(--tt-gap);
	--list-width: #{$max-fixed-width};
	--current-color: var(--tt-primary-color);
	justify-content: stretch;
	.tt-list-viewer-list {
		display: flex;
		flex-direction: column;
		padding: var(--tt-pad);
		gap: var(--tt-gap);
		overflow-x: visible;
		a.tt-list-viewer-item {
			display: flex;
			padding: var(--tt-pad);
			--tt-scale-push-factor: 0.01;
			@include tt-scale-push;
			@include panel-like;
			.title {
				font-weight: bold;
			}
			&.current {
				border-left: 5px solid var(--current-color);
			}
		}
	}
	.tt-list-viewer-details-container {
		position: relative;
		padding: var(--tt-pad);
	}
	.tt-list-viewer-details {
		@include tt-inset-box;
		@include tt-inset-box-shadow;
		padding: var(--tt-pad);
	}
}

////////////////////////////////////////////////////////////////////////////////
// Phone
////////////////////////////////////////////////////////////////////////////////

@media only screen and (max-width: $phone-breakpoint) {
	.tt-list-viewer {
		.tt-list-viewer-list {
			flex: 1 1 auto;
			overflow-y: scroll;
		}
		.tt-list-viewer-details-container {
			display: none;
		}
	}
}

////////////////////////////////////////////////////////////////////////////////
// Desktop/Tablet
////////////////////////////////////////////////////////////////////////////////

@media only screen and (min-width: $phone-breakpoint) {
	.tt-list-viewer {
		.tt-list-viewer-list {
			flex: 0 0 var(--list-width);
			overflow-y: scroll;
		}
		.tt-list-viewer-details-container {
			flex: 1 1 auto;
		}
	}
}


