@import "tt-mixins";

.tt-toolbar {
	display: flex;
	align-items: center;
	height: var(--tt-toolbar-height);
	font-size: var(--tt-toolbar-font-size);
	gap: var(--tt-gap);
	> div {
		flex: 0 0 auto;
	}
	a {
		display: flex;
		gap: 0.6em;
		align-items: center;
		@include tt-no-select;
		font-weight: normal;
		i {
			display: block;
			transform: scale(1.2);
		}
	}
	.page-title {
		flex: 1 1 auto;
		min-width: 0;
	}
	h1.breadcrumbs {
		display: flex;
		margin: 0;
		padding: 0;
		flex: 1 1 auto;
		font-size: var(--tt-toolbar-font-size);
		gap: var(--tt-gap);
	}
	.tertiary-actions {
		flex: 0 0 auto;
	}
}

.tt-page-part {
	display: flex;
	flex-direction: column;
	.full-width-page {
		width: 100%;
		.page-content {
			width: 100%;
		}
	}
	.page-actions {
		display: flex;
		align-items: center;
		.primary-actions, .secondary-actions {
			padding: var(--tt-pad);
			gap: var(--tt-gap);
			display: flex;
			align-items: center;
			a {
				@include tt-button;
			}
		}
		.primary-actions {
			flex: 1 1 auto;
			justify-content: right;
		}
	}
}