@import "tt-mixins";

.tt-panel {
	@include panel-like;
	display: flex;
	flex-direction: column;

	gap: var(--tt-gap);
	.panel-header {
		display: flex;
		align-items: center;
		gap: var(--tt-gap);
		padding: var(--tt-pad);
		// the vertical padding is handled by the gap
		padding-bottom: 0;
		h1, h2, h3, h4, h5 {
			margin: 0;
			font-weight: normal;
			display: flex;
			gap: 0.5em;
			flex: 1 1 auto;
			min-width: 0;
			i {
				transform: scale(1.25);
			}
		}
		h2 {
			font-size: 26px;
		}
		h3 {
			font-size: 22px;
		}
		h4 {
			font-size: 18px;
		}
		.tertiary-actions {
			display: flex;
			align-items: center;
			gap: var(--tt-gap);
		}
		a {
			display: block;
			text-align: center;
			@include tt-scale-push;
			// actions with text have a small label with larger icon
			.title {
				font-size: var(--tt-label-font-size);
			}
			i {
				font-size: 150%;
			}
			// actions with only an icon have a larger icon
			&.icon-only {
				font-size: 125%;
			}
		}
	}
	.panel-content {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		&.padded {
			// only horizontal padding since the vertical is handled by the gap
			padding: 0 var(--tt-pad);
		}

		.content-container {
			display: flex;
			flex-direction: column;
		}

		&.gap .content-container {
			gap: var(--tt-gap);
		}

		transition: flex-basis var(--tt-animation-duration) ease-in-out;
	}
	.collapsible-chevron {
		transition: rotate var(--tt-animation-duration) ease-in;
	}
	&.collapsed {
		.panel-content {
			flex-basis: 0;
			pointer-events: none;
		}

		.collapsible-chevron {
			rotate: -90deg;
		}
	}
	&.collapsed, &.collapsing {
		.panel-content {
			overflow-y: hidden;
		}
	}

	.panel-actions {
		display: flex;
		align-items: center;
		border-top: 1px solid var(--tt-border-color);
		background-color: var(--tt-border-color);
		@include tt-bottom-rounded-corners;
		gap: 1px;
		.primary-actions, .secondary-actions {
			gap: 1px;
			display: flex;
			align-items: center;
			flex: 1 1 auto;
			a {
				background-color: var(--tt-inset-background);
				@include tt-inset-text;
				flex: 1 1 auto;
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 0.5em;
				font-weight: bold;
				padding: 0.75em;
				i {
					transform: scale(1.2);
				}
				&.primary {
					color: var(--tt-primary-color);
				}
				&.secondary {
					color: var(--tt-secondary-color);
				}
				&.alert {
					color: var(--tt-alert-color);
				}
				&.pending {
					color: var(--tt-pending-color);
				}
				&:hover {
					filter: brightness(1.05);
				}
				&:active {
					filter: brightness(0.95);
				}
			}
		}
		.primary-actions {
			flex: 1 1 auto;
			justify-content: right;
			a:last-child {
				border-bottom-right-radius: var(--tt-border-radius);
			}
		}
		.secondary-actions {
			a:first-child {
				border-bottom-left-radius: var(--tt-border-radius);
			}
		}
	}
	&.padded {
		padding: var(--tt-pad);
	}
}