/**
 Include this file before any other tt-* stylesheets.
*/

:root {
	--tt-pad: 16px;
	--tt-gap: var(--tt-pad);
	--tt-border-radius: 4px;
	--tt-panel-background: #fff;
	--tt-body-color: #333;
	--tt-white-color: #fff;
	--tt-shadow-color: rgba(0, 0, 0, 0.15);
	--tt-shadow-spread: 6px;
	--tt-content-width: 1000px; // full-width content
	--tt-tablet-breakpoint: 1050px; // tablet portrait
	--tt-mobile-breakpoint: 850px; // tablet portrait
	--tt-phone-breakpoint: 550px;
	--tt-scale-push-factor: 0.05;
	--tt-button-height: 40px;
	--tt-icon-size: 28px;
	--tt-dropdown-color: var(--tt-primary-color);
	--tt-tooltip-background: var(--tt-white-color);
	--tt-tooltip-foreground: var(--tt-primary-color);
	--tt-animation-duration: 0.2s;
}