/**
 Include this file before any other tt-* stylesheets.
*/

:root {
	--tt-pad: 16px;
	--tt-gap: var(--tt-pad);
	--tt-body-font-size: 16px;
	--tt-caption-font-size: 14px;
	--tt-label-font-size: 12px;
	--tt-border-radius: 6px;
	--tt-border-color: #ddd;
	--tt-primary-color: #01a7b1;
	--tt-secondary-color: #1e6c7b;
	--tt-alert-color: #ed584c;
	--tt-pending-color: #eeba2b;
	--tt-success-color: #01b201;
	--tt-inactive-color: #adadad;
	--tt-panel-background: #fff;
	--tt-odd-row-background: #f8f8f8;
	--tt-table-border-color: var(--tt-border-color);
	--tt-body-color: #333;
	--tt-white-color: #fff;
	--tt-shadow-color: rgba(0, 0, 0, 0.15);
	--tt-shadow-spread: 6px;
	--tt-content-width: 1000px; // full-width content
	--tt-tablet-breakpoint: 1050px; // tablet portrait
	--tt-mobile-breakpoint: 850px; // tablet portrait
	--tt-phone-breakpoint: 550px;
	--tt-scale-push-factor: 0.05;
	--tt-button-height: 40px;
	--tt-icon-size: 28px;
	--tt-inset-background: #f8f8f8;
	--tt-dropdown-color: var(--tt-primary-color);
	--tt-tooltip-background: var(--tt-white-color);
	--tt-tooltip-foreground: var(--tt-primary-color);
	--tt-animation-duration: 0.2s;
	--tt-field-height: 36px;
	--tt-field-border-color: #bbb;
	--tt-inactive-background: var(--tt-odd-row-background);
}