@import "tt-mixins";

// Apply this class to any container where you want
// sane typography defaults for common elements
.tt-typography {
	font-size: var(--tt-body-font-size);
	p, h1, h2, h3, h4, h5 {
		margin: 0;
	}
	p {
		line-height: 1.4;
		&.caption {
			font-size: var(--tt-caption-font-size);
		}
	}
	label {
		font-size: var(--tt-label-font-size);
		text-transform: none;
		margin-bottom: 0;
		display: flex;
		align-items: center;
		gap: 0.5em;
	}
	h1, h2, h3, h4, h5 {
		display: flex;
		align-items: center;
		gap: 0.5em;
		font-weight: normal;
		i {
			display: block;
			line-height: 1;
			transform: scale(1.25);
		}
		@include tt-flex-utils;
		&.centered, &.text-center {
			justify-content: center;
		}
		&.large-top-padding {
			padding-top: 2em;
		}
	}
	h1 {
		font-size: 26px;
	}
	h2 {
		font-size: 22px;
	}
	h3 {
		font-size: 18px;
	}

	// override clypboard's default icon margin
	[class*='glyp-']::before, [class^='glyp-']::before {
		margin: 0;
	}

	// foundation...
	.column, .columns {
		width: initial;
		float: none;
	}
	.column + .column:last-child, .column + .columns:last-child, .columns + .column:last-child, .columns + .columns:last-child {
		float: none;
	}
	.left {
		float: none !important;
	}
}


.tt-button {
	@include tt-button;
}

.tt-bubble {
	@include tt-bubble;
}

.tt-inset-box {
	@include tt-inset-box;
	@include tt-inset-box-shadow;
}

.tt-padded {
	padding: var(--tt-pad);
}

.tt-h-padded {
	padding: 0 var(-tt-pad);
}

.tt-v-padded {
	padding: var(-tt-pad) 0;
}