@import "tt-mixins";

.tt-tab-container {
	display: flex;

	.tt-tab-list {
		flex: 0 0 auto;

		a.tab {
			display: flex;
			@include tt-no-select;
			align-items: center;
			padding: 0.5em 1em;
			gap: 0.5em;
			background-color: var(--tt-panel-background);
			//@include tt-scale-push;
			//margin-bottom: -$border-radius; // render tabs "under" the tab content
			i {
				display: block;
				transform: scale(1.2);
			}
			//@include tt-box-shadow;

			&:not(.active) {
				// slightly darker when it's not active
				filter: brightness(0.9);
				&:hover:not(.disabled) {
					// lighter on hover
					filter: brightness(0.95);
				}
				&:active:not(.disabled) {
					filter: brightness(1);
				}
			}

			&.active {
				cursor: default;
			}

			&.disabled {
				cursor: not-allowed;
				opacity: 50%;
			}

		}
	}

	&.top, &.bottom {
		.tt-tab-list {
			flex-direction: row;
		}
	}
	&.top {
		flex-direction: column;
		a.tab {
			@include tt-top-rounded-corners;
		}
	}
	&.bottom {
		flex-direction: column-reverse;
		a.tab {
			@include tt-bottom-rounded-corners;
		}
	}

	&.left, &.right {
		.tt-tab-list {
			flex-direction: column;
		}
	}
	&.left {
		flex-direction: row;
		a.tab {
			@include tt-left-rounded-corners;
		}
	}
	&.right {
		flex-direction: row-reverse;
		a.tab {
			@include tt-right-rounded-corners;
		}
	}

	.tt-tab-content {
		flex: 1 1 auto;
		min-height: 0;
		min-width: 0;
		padding: var(--tt-pad);
		background-color: var(--tt-panel-background);
	}
}