a.demo-link.modal-with-actions Modal With Actions
a.demo-link.modal-reload Modal Reload
a.demo-link.no-layout-modal Modal Without Layout
a.demo-link.stacked-modal Stacked Modal
a.demo-link.replace-content-modal Replace Modal Content
a.demo-link.wide-content-modal Wide Modal Content