a.demo-link href='/logging' Logging
a.demo-link href='/modals' Modals
a.demo-link href='/scripts' Scripts
a.demo-link href='/sql' SQL
a.demo-link href='/tinytemplate' TinyTemplate
a.demo-link href='/urls' URLs
a.demo-link href='/versions' Versions
